html,
body {
    width: 100%;
    height: 100%;

    margin: 0;
    border: 0;
    padding: 0;
}

main {
    margin: 0;
    border: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;

    background: #F6F6F6;
    border: 2px solid #FF7A5B;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}

/* Исправить border при выборе поля для ввода */
input {
    width: 300px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 5px 15px;

    background: #F6F6F6;
    border: 1px solid #FF7A5B;
    outline:none;

    border-radius: 0;
    margin: 0;
}

button {
    width: 140px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: #FF7A5B;

    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

button:hover{
    background: #DCE6FF;
}