@font-face {
    font-family: "Museo_Moderno_Regular";
    src: url("./MuseoModerno-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Museo_Moderno_Bold";
    src: url("./MuseoModerno-Bold.ttf") format("truetype");
}

p {
    font-family: "Museo_Moderno_Regular";
    font-size: 22px;
    color: #343434;

    margin: 0;
    padding: 0;
}

p.title {
    font-family: "Museo_Moderno_Bold";
    font-size: 32px;
}

input {
    font-family: "Museo_Moderno_Regular";
    font-size: 22px;
    color: #343434;
}

p.file_title{
    font-family: "Museo_Moderno_Bold";
    font-size: 18px;
    color: #353535;
}

p.file_subtitle{
    font-family: "Museo_Moderno_Regular";
    font-size: 14px;
    color: rgba(53, 53, 53, 0.75);
}

p.legend{
    color: #FF7A5B;
    font-family: "Museo_Moderno_Regular";
}