body{
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(./src/background_login_temp.svg);
    background-size: 100%;
}

.container_login {
    width: 600px;
    height: 400px;
}