body {
    background-image: url(./src/background_main_temp.svg);
    background-size: 100%;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: row;
}

#left {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    background: #DCE6FF;
}

#right {
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#find {
    width: 190px;
    height: 45px;

    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    background: #F6F6F6;
    border: 1px solid #FF7A5B;
    border-radius: 5px;
}

#input_find {
    width: 128px;
    height: 30px;
    border: 0;
    font-size: 18px;
}

#files {
    width: 100%;
    height: 700px;

    /* margin: 10px; */

    /* display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-direction: column; */

    overflow-y: scroll;
}

@media screen and (max-height: 899px) {
    #files {
        height: 600px;
    }

}

@media screen and (max-height: 699px) {
    #files {
        height: 500px;
    }

}

@media screen and (max-height: 499px) {
    #files {
        height: 250px;
    }

}

.file {
    width: 160px;
    height: 60px;
    padding: 5px 10px;
}

.active {
    background: #FF7A5B;
    border-radius: 10px;
    margin-left: 20px;
}

#folders {
    justify-self: flex-end;

    margin: 10px;
}

.container_index {
    width: 500px;
    padding: 20px;
    gap: 10px;
    display: none;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
}

.row>input {
    border: 0;
    border-bottom: 1px solid #DCE6FF;
}

.illum {
    background: #F6F6F6;
    border-radius: 5px;
    margin-left: 10px;
}

.button_save {
    margin-bottom: 20px;
}

button {
    border: 2px solid #FF7A5B;
}